

  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.body {
    margin: 0;
    padding: 0;
}
.main{
    padding-top: 10%;
    font-family: 'Poppins', sans-serif;
}
.container{
    padding: 3rem 0;
    background-color: rgb(214, 212, 212);
    width: 100%;
}
.container h1 p{
    margin: 0;
}
.header p{
    color: rgb(133, 134, 134);
}
.header{
    text-align: center;
}

.container2 .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
 
@media screen and (min-width: 1500px){
    .container2 .list{
        width: 20%;
    }
    
}
.container2 .list {

    margin-right: 40px;
}

.btn{
    padding: 3% 10%;
    background-color: rgb(129, 126, 126);
    border:none;
    color: white;
    position: relative;
}
img{
    background-color: white;
    height: 16px;
    width: 16px;
    padding: 6px;
    border-radius: 50%;
    position: absolute;
    margin-left: -10px;
    margin-top: 3px;

}
a button{
    cursor: pointer;
}

.list p{
    margin-bottom: 30px;
}