.btn{
    background-color: rgba(160,160,255,255);
    border: none;
    font-weight: 700;
}
td{
    vertical-align: middle;
    font-weight: 600;
}
th{
    padding: 15px !important;
    background-color: rgba(232,181,33,255) !important;
    color: white !important;
    font-weight:600;
}
.left-top{
    border-radius: 10px 0 0 0;
}
.right-top{
    border-radius: 0 10px 0 0;
}

.bottom td{
    border-bottom: 0;
}
.bottom-left{
    border-radius: 0 0 0 10px;
}
.bottom-right{
    border-radius: 0 0 10px 0;
}
.container{
    --bs-gutter-x: 0 !important;
}